html{
    scroll-behavior: smooth;
}

.skills li:hover {
  transform: translate(0, -5px);
  transition: transform 0.3s ease-in-out;
  box-shadow:  0 10px 10px rgba(77, 75, 75, 0.2);
  cursor:inherit;

}
.cv-download {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #2c1150;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.cv-download:hover {
  background-color: #551da3;
}

.skill-header::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #2c1150;
  margin-bottom: 10px;
  border-radius: 2px;
}
.active {
  background-color: #2c1150;
  color: white !important;
  border-radius: 10px;
  
}

.project-list .project-item {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-item:hover {
  transform: translate(0, -5px);
  box-shadow:  0 10px 10px rgba(77, 75, 75, 0.2);
}